
@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}
            
body
{
    background: url('images/fond_jaune.png');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
	perspective: 800px;
}

#general
{
	padding-top: 5px;
}

audio
{
	border-radius: 5px;
	margin-top: 5px;
	height: 35px;
	margin-left: 10px;
	box-shadow: 5px 5px 1px rgb(125, 81, 66);
	background-color: #181818;
}


#liseret
{
	background: url('images/bb.jpg');
	height: 600px;
	margin-top: 5px;
	margin-left: 10px;
	width: 15%;
	display: inline-block;
	vertical-align: top;
	border-radius: 10px;
	border: 1px rgb(72, 47, 38) solid;
	border-radius: 10px;
	box-shadow: 5px 5px 2px rgb(125, 81, 66);
}

@media screen and (max-width: 1024px)
{
    /* le liseret sera supprimé entre 0 et 1024px */
	#liseret, audio, img, #love
	{
		display: none;
	}
	
}

#contenu
{
	display: inline-block;
	width: 83%;
}

@media screen and (max-width: 1024px)
{
    /* le liseret sera supprimé entre 0 et 1024px */
	#contenu
	{
		width: 100%;
	}
}

header
{
	display: inline-block;
	width: 100%;
	position: relative;
}

mark
{
	border-radius: 10px;
	padding-top: 3px;
	padding-left: 3px;
	padding-right: 3px;
	background-color: rgb(72, 47, 38);
	color: white;
}

img
{
    width: 130px;
    height: 130px;
    position: absolute;
    top: 5px;
    right: 10px;
    border-radius: 10px;
	border: 1px rgb(72, 47, 38) solid;
	box-shadow: 5px 5px 1px rgb(125, 81, 66);
    transition: 2s;
    backface-visibility: hidden; /* Permet d'éviter de voir le bloc de dos */
}

#devant
{
    z-index: 100;
}

#derriere
{
    z-index: 50;
    transform: rotateY(-180deg); /* Celui-ci est retourné par défaut */
}

#devant:hover
{
    transform: rotateY(360deg); /* On passe de 0 à 360° : tour complet */
}

/*
Astuce :
Lorsqu'on survole le bloc devant, on applique une rotation au bloc derriere
*/
#devant:hover + #derriere
{
    transform: rotateY(180deg);  /* On passe de -180° à 180° : tour complet */
}

header h1, header blockquote, blockquote p
{
	text-align: center;
	width: auto;
	margin-bottom: 5px;
    margin-top: 9px;
	color: rgb(72, 47, 38);
	font-family: Dayrom, serif;
}

#experience, #competences, #formation
{
	display: inline-block;
	vertical-align: top;
	margin-top: 14px;
	position: relative;
	width: 30%;
}

#experience h2, #competences h2, #formation h2
{
	text-align: center;
	color: rgb(125, 81, 66);
}

#experience ul, #competences ul, #formation ul
{
    list-style-type: none; /* esthetique permet de supprimer les puces ("Points") */
	list-style-image: url('images/ico_liensexterne.png'); /* Si on veut mettre une image pour remplacer chaque puces */
}

@media screen and (max-width: 1024px)
{
	#experience, #competences, #formation
	{
		display: block;
		width: auto;
		margin-top: 14px;
	}

	#experience h2, #competences h2, #formation h2
	{
		text-align: left;
		color: rgb(125, 81, 66);
	}

	#experience ul, #competences ul, #formation ul
	{
		list-style-type: none; /* esthetique permet de supprimer les puces ("Points") */
		list-style-image: url('images/ico_liensexterne.png'); /* Si on veut mettre une image pour remplacer chaque puces */
	}
}

em
{
	color: rgb(125, 81, 66);
}

a
{
	color: rgb(125, 81, 66);
	text-decoration: none;
}

a:hover
{
	color: black;
	text-decoration: underline; 
}

@keyframes bardot {

    from {
        transform: translateX(0px);
    }

	2% {
        transform: translateY(-100px);
    }
	    
	4% {
        transform: translateY(100px);
    }
	    
	6% {
        transform: translateY(-100px);
    }
	    
	8% {
        transform: translateY(100px);
    }
	    
	10% {
        transform: translateY(-100px);
    }
	
    20% {
        transform: translateX(1024px);
    }

	50% {
		transform:  translate(1024px, 200px) rotate(-90deg);
	}	
	
	60% {
		transform:  translate(-1024px, 200px) rotate(-90deg);
	}
	
	to {
		transform: translate(0px);
	}
	
}

#liseret:active
{
    animation: bardot 3s linear alternate; /* Boucle d'animation ! */
}

#love
{
	background-image: url('images/love.jpg');
	position: absolute;
	margin-left: 20px;
	margin-top: 10px;
	width: 300px;
	height: 168px;
	border-radius: 10px;
	transition-duration: 1s; /* La transition dure 1s */
}

#love:hover
{
    transform: scale(0.3);
}


